@import "tailwindcss";
@import 'highlight.js/styles/github-dark.css';

:root {
  --background: #171717;
  --foreground: #ffffff;
  --brand: #F15A24;
  --brand-light: #FFEFE7;
  --brand-dark: #7A341C;

  --font-inter: "Inter", sans-serif;
  --font-playfair: "Playfair Display", serif;
}
html {
  scroll-behavior: smooth;
}

/* Fonts */

.font-roboto {
  font-family: var(--font-roboto);
}

.font-montserrat {
  font-family: var(--font-montserrat);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}


.font-text {
  font-family: var(--font-inter);
}

.font-heading {
  font-family: var(--font-playfair);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}




/* brand color utility classes */
.bg-brand {
  background-color: var(--brand);
}

.text-brand {
  color: var(--brand);
}

.hover\:text-brand:hover {
  color: var(--brand);
}

.bg-brand-light {
  background-color: var(--brand-light);
}

.text-brand-light {
  color: var(--brand-light);
}

.bg-brand-dark {
  background-color: var(--brand-dark);
}

/* fix for broken blog/[slug] page */
.prose pre,
.prose code {
  white-space: pre-wrap !important;
  word-break: break-word;
}


pre {
  background-color: #0d1117;
  /* dark background */
  color: #c9d1d9;
  /* text color */
  padding: 1rem;
  border-radius: 0.5rem;
  overflow-x: auto;
  margin: 1.5rem 0;
  position: relative;
}

code {
  font-family: 'Fira Code', monospace;
  font-size: 0.9rem;
}

pre code {
  display: block;
}

.copy-button {
  opacity: 0;
  transition: opacity 0.2s;
}

pre:hover .copy-button {
  opacity: 1;
}

article > h2 {
  margin-top: 20px;
  font: bold 1.5em;
}